.main{
    width: 100%;
    max-width: 1000px;
    margin-left: 25%;
}
.row{
    display: flex;

}
.row:nth-child(even) .wall:first-child{
    width: 80px;
}
.wall{
    background-color:  #cc0000;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    margin: 2px;
}